<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.nuenqx.runcat.azure-vpn</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/nuenqx/Library/Application Support/runcat-vpn-metrics/runcat-vpn-metrics.sh</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/nuenqx</string>
    <key>RUNCAT_VPN_OUTPUT_FILE</key>
    <string>/Users/nuenqx/.runcat/azure-vpn.json</string>
  </dict>

  <key>StartInterval</key>
  <integer>10</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/tmp/dev.nuenqx.runcat.azure-vpn.out.log</string>

  <key>StandardErrorPath</key>
  <string>/tmp/dev.nuenqx.runcat.azure-vpn.err.log</string>
</dict>
</plist>
